body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100px;
    height: 100px;
    background: red;
}
.square:hover{
    background: yellow;
}
.greedy{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: black;
    gap: 5px;
}
.score{
    position: fixed;
    top: 10px;
    left: 10px;
    gap: 10px;
    font-size: 20px;
    padding: 6px 10px;
    background: rgba(255,255,255,0.9);
    border-radius: 6px;
}
.cscore{
    position: fixed;
    top: 50px;
    left: 10px;
    gap: 10px;
    font-size: 20px;
    padding: 6px 10px;
    background: rgba(255,255,255,0.9);
    border-radius: 6px;
}